@import url('https://fonts.googleapis.com/css2?family=Betania+Patmos+In&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.patmos {
  font-family: "Betania Patmos In", cursive;
  font-style: normal;
}

.josefin {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
}

.fugaz {
  font-family: "Fugaz One", sans-serif;
  font-style: normal;
}

.coding {
  font-family: "Google Sans Code", monospace;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.moon {
  font-family: "Monoton", sans-serif;
}